[submodule "src/External/uACPI"]
	path = src/External/uACPI
	url = https://github.com/toddsharpe/uACPI.git
[submodule "src/External/MetalOS.Doom"]
	path = src/External/MetalOS.Doom
	url = https://github.com/toddsharpe/MetalOS.Doom.git
